

// Main article
.mainArticle{
    width: 70%;
    padding: 10px;
}
.mainCover{
    width: 100%;
    background-size: cover;
    background-position: center;
    max-height: 35vh;
    height: 1000px;
    background-color: @primary;
}
.read_more_btn{
    .frow();
    justify-content: right;
}

// Sub articles
.subArticles{
    width: 30%;
    padding: 10px;
}