// Modules
@import "colors";
@import "fonts";
@import "containers";


// Components
@import "preloader";
@import "navbar";
@import "footer";
@import "media";
@import "article";
@import "article_theme";

// Page exclusive rules
.BIG{
    font-size: 10em !important;
    .p_a_gradient();
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
    font-size: 3em !important;
    margin: 0 !important;
}