.p_a_gradient {
  background: #2d7ec2;
  background: linear-gradient(90deg, #2d7ec2 0%, #a080b9 100%);
}
.p_a_gradient_text {
  color: #2d7ec2;
  color: linear-gradient(90deg, #2d7ec2 0%, #a080b9 100%);
}
.primary {
  color: #2d7ec2;
}
.p_light {
  color: #6aadf5;
}
.p_dark {
  color: #005291;
}
.secondary {
  color: #374c9c;
}
.s_light {
  color: #6b77ce;
}
.s_dark {
  color: #00256d;
}
.accents {
  color: #a080b9;
}
.a_light {
  color: #d2b0eb;
}
.a_dark {
  color: #715389;
}
.primaryB {
  background-color: #2d7ec2;
}
.p_lightB {
  background-color: #6aadf5;
}
.p_darkB {
  background-color: #005291;
}
.secondaryB {
  background-color: #374c9c;
}
.s_lightB {
  background-color: #6b77ce;
}
.s_darkB {
  background-color: #00256d;
}
.accentsB {
  background-color: #a080b9;
}
.a_lightB {
  background-color: #d2b0eb;
}
.a_darkB {
  background-color: #715389;
}
.uB {
  font-family: "ubuntu";
  font-weight: 800;
}
.uL {
  font-family: "ubuntu";
  font-weight: 400;
}
.wfluid {
  width: 100vw;
}
.hfluid {
  height: 100vh;
}
.flex {
  display: flex;
}
.frow {
  display: flex;
  flex-direction: row;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.antiscroll {
  overflow: hidden;
}
body {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #a080b9 #005291;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #005291;
}
body::-webkit-scrollbar-thumb {
  background-color: #a080b9;
  border-radius: 20px;
  border: 3px solid #005291;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #374c9c;
  border-radius: 20px;
  border: 3px solid #005291;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:focus {
  background-color: #374c9c;
  border-radius: 20px;
  border: 0px solid #374c9c;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
}
.BIG {
  font-size: 10em;
  background: #2d7ec2;
  background: linear-gradient(90deg, #2d7ec2 0%, #a080b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
