// Modules
@import "colors";
@import "fonts";
@import "containers";


// Components
@import "preloader";
@import "navbar";
@import "footer";
@import "media";
@import "article";

// Page exclusive rules
.BIG{
    font-size: 10em;
    .p_a_gradient();
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}