<section class="about-us">
    <h1 class="about-us-title">StreetZine, c'est quoi ?</h1>   
    <h2 class="about-us-text">StreetZine, c'est un magazine en ligne, spécialisé dans le street art, créé par 5 étudiants en Webdesign. Reconnu par les artistes et les galeries, StreetZine est le parfait trait d’union entre la création, les amoureux du StreetArt et les collectionneurs.</h2>
    <div class="about-us-text">Rendez-vous sur notre Instagram pour plus de contenu:</div>
    <a class="primaryB waves-effect waves-light btn" style="width: fit-content !important;" href="https://www.instagram.com/streetzine16/" target="_blank"><i class="fab fa-instagram"></i> INSTAGRAM STREETZINE</a>
</section>

