{% with title="Nos articles" %}
    {% include "head.html" %}
{% endwith %}

{% with page="nos-articles" %}
    {% include "nav.html" %}   
{% endwith %}

<div class="content c-off">
    {% for theme in article_data %}
        {% for article in theme["article"] %}
            {% if article["main"] == 1 %}
            <img src="{{article['content']['image1']}}" alt="">
            {% endif %}
        {% endfor %}
        <div class="uB">{{theme["name"]}}</div>
        <div class="pageChanger waves-effect waves-light btn uL primaryB" page="nos-articles/{{theme['name']}}" title="{{theme['name']}}">Voir plus d'articles</div>
    {% endfor %}
</div>