{% with title=current_page %}
    {% include "head.html" %}
{% endwith %}

{% with page="nos-articles" %}
    {% include "nav.html" %}   
{% endwith %}

<div class="content c-off">

    <div class="primaryB waves-effect waves-light btn returnBtn">RETOUR</div>

    <div class="uB">{{current_page}}</div>
    <br>
    <br>
    <br>
    <div>Articles:</div>
    <br>
    <ul>
        {% for article in article_data["article"] %}
        <li>
            <div>{{article["title"]}}</div>
            <div class="pageChanger primaryB waves-effect waves-light btn " page="/nos-articles/{{current_page}}/{{article['title']}}" title="{{article['title']}}">Voir l'article</div>
        </li>
        {% endfor %}
    </ul>
</div>