{% with title=current_page %}
    {% include "head.html" %}
{% endwith %}

{% with page="nos-articles" %}
    {% include "nav.html" %}   
{% endwith %}

{% include "footer.html" %}

<div class="content c-off ite">

    <div class="primaryB waves-effect waves-light btn returnBtn" style="margin-left: 20px;">RETOUR</div>

    <div class="uB title-theme-article-list ite0 elt-off">{{current_page}}</div>
    <div class="uB article-theme-article-list ite1 elt-off">Articles:</div>
    <section class="wrapper-row flex theme-article-section">
        {% for article in article_data["article"] %}
        <article class="subCover theme-article-container ite{{loop.index0 + 2}} elt-off" style="background-image: url('{{article['content']['image1']  | escape}}');">
            <div class="blocArticle" style="margin: 0 !important;">
                <div class="wrapper-col space-between" style="height: 100%;">
                    <div class="titleArticle" style="height: fit-content">{{ article["title"]  | escape}}</div>
                    <div style="height: 50%;">{{article["content"]["text"] | safe | truncate(200, True) | escape }}</div>
                    <div class="read_more_btn" style="height: 40%;">
                        <div class="primaryB waves-effect waves-light btn pageChanger" style="align-self: center;" title="{{article['title'] | escape}}" page="/nos-articles/{{current_page}}/{{article['title'] | escape}}">Lire la suite</div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>
