{% with title=current_page %}
    {% include "head.html" %}
{% endwith %}

{% with page="nos-articles" %}
    {% include "nav.html" %}   
{% endwith %}

<div class="content c-off">

    <div class="primaryB waves-effect waves-light btn returnBtn">RETOUR</div>

    <div class="uB">{{current_page}}</div>
    <br>
    <br>
    <br>
    <div>Articles:</div>
    <br>
    <section class="wrapper-row flex theme-article-section">
        {% for article in article_data["article"] %}
        <article class="subCover theme-article-container" style="background-image: url('{{article['content']['image1']}}');">
            <div class="blocArticle" style="margin: 0 !important;">
                <div class="titleArticle" style="height: 20%;">{{ article["title"]}}</div>
                <div class="wrapper-col space-between" style="height: 80%;">
                    <div>{{article["content"]["text"] | safe | truncate(200, True) }}</div>
                    <div class="read_more_btn">
                        <div class="primaryB waves-effect waves-light btn pageChanger" title="{{article['title']}}" page="/nos-articles/{{ current_page}}/{{article['title']}}">Lire la suite</div>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>