<footer>
    <div class="footer-socials p_a_gradient" style="padding:20px">
        <div  style="width: fit-content;" >
            <a class="frow uR" style="width: fit-content;color:white;" href="https://www.instagram.com/streetzine16/" target="_blank">
                <i class="fab fa-instagram fa-3x"> </i >
                <span style="font-size: 1.5em; margin-left: 5px;" class="fcol center">Suivez StreetZine sur Instagram</span>
            </a>
        </div>
    </div>
    <div class="footer-copyright uL frow center p_darkB" style="padding:5px;color:white;">
        Copyright StreetZine 2021
    </div>
</footer>