{% with title="A la une" %}
    {% include "head.html" %}
{% endwith %}

{% with page="a-la-une" %}
    {% include "nav.html" %}   
{% endwith %}

<section class="article-container fcol ">

    <h1 class="uB">A LA UNE</h1>
    <div class="content fcol">
    {% for week in week_list%}
        <section class="article-tile frow space-between">

            <div class="mainArticle">
                {% for article in week["article"] %}
                        {% if article['main'] == 1 %}
                            <article class="mainArticle">
                                <div class="mainCover" style="background-image: url('{{article['content']['image1']}}');"></div>
                                <h1 class="p_a_gradient_text_reverz">{{ article["title"]}}</h1>
                                <div class="uL">{{article["author"]}} | {{article["date"]}}</div>
                                <div class="uR">{{article["content"]["text"] | safe }}</div>
                                <div class="read_more_btn">
                                    <a class="primaryB waves-effect waves-light btn" href="/nos-articles/{{ week['name']}}/{{article['title']}}">Lire la suite</a>
                                </div>
                            </article>
                            {% endif %}
                {% endfor %}
            </div>
            <div class="subArticles">
                {% for article in week["article"] %}
                    {% if article['main'] == 0 and loop.index < 3 %} 
                        <article class="subArticle">
                            <div class="">{{ article["title"]}}</div>
                            <img src="{{article['content']['image1']}}" alt="Couverture article {{article['title']}}">
                            <div>{{article["content"]["text"] | safe }}</div>
                            <div class="read_more_btn">
                                <a class="primaryB waves-effect waves-light btn" href="/nos-articles/{{ week['name']}}/{{article['title']}}">Lire la suite</a>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>

        </section>
    {% endfor %}
    </div>

</section>

{% include "about.html" %}
